TELEGRAM_TOKEN=8791279976:AAHnLs7Lv02LBimy4Ovl0U2jUnEcM6C6B18
CHAT_ID=-5160791749

WEBHOOK_SECRET=change_this_to_strong_random_secret_123

ADMIN_API_KEY=change_this_to_strong_admin_key_456

ALLOWED_IPS=192.168.1.100,10.0.0.50


MAX_REQUESTS_PER_MINUTE=100

HOST=0.0.0.0
PORT=8000
